@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@font-face {
    font-family: 'smiley-sans';
    src: url('https://cdn.bowling233.top/fonts/SmileySans-Oblique.ttf.woff2');
}

@font-face {
    font-family: 'FZXS12';
    src: url('https://cdn.bowling233.top/fonts/FZXS12.ttf');
}
