@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@font-face {
    font-family: 'smiley-sans';
    src: url('SmileySans-Oblique.ttf.woff2');
}
@font-face {
    font-family: 'FZXS12';
    src: url('FZXS12.TTF');
}